* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    width: 100wh;
}

/* heading banner portion */

.head {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_cont {
    background-color: rgba(0, 0, 0, 0.884);
    height: 85vh;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

/* leftside text on banner */

.head_text {

    width: 50%;
    padding: 50px 20px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.head_text>h1 {
    font-size: 55px;
    font-weight: 700;
    color: white;
}

.head_p {
    color: rgb(102, 105, 104);
    font-size: 15px;
    font-weight: 200;
}

/* banner button */

.button_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: blueviolet;
    border-radius: 8px;
    width: 200px;
}

.button_cont>i {
    color: white;
}

.head_button {
    color: white;
    background-color: blueviolet;
    font-size: 18px;
    border: 0;
}

/* banner right image */

.head_img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.head_img_cont {
    width: 100%;
    height: 90%;
}



/* 2nd portion*/

.main {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.main_content {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* aside navigation bar */
.match_nav {
    height: 290px;
    width: 400px;
    background-color: rgba(16, 17, 22, 0.966);
    border-radius: 10px;
    position: relative;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    word-wrap: normal;
}

.nav_cont {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 14px 0px;
    border-radius: 10px;
    font-weight: 700;
    margin: 20px;
}

.nav_cont_index {
    background-color: blueviolet;
    color: black;
    text-align: center;
    padding: 14px 0px;
    border-radius: 10px;
    font-weight: 700;
    margin: 20px;
}

.nav_cont_umcomming {
    background-color: blueviolet;
    color: black;
    text-align: center;
    padding: 14px 0px;
    border-radius: 10px;
    font-weight: 700;
    margin: 20px;
}

.nav_link {
    text-decoration: none;
}

.nav_link_index {
    background-color: blueviolet;
}


/* matches card details */
.match_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 25px;
    column-gap: 25px;
}

.match_content img {
    width: 100%;
    margin-bottom: 0;
}

.card {
    border: 1px solid rgba(189, 188, 188, 0.384);
    border-radius: 10px;
    margin-top: 0;
}

.card_content {
    padding: 10px;
}

/* in card time icons */

.time_msg {
    color: grey;
    display: flex;
}

.time_msg div {
    margin-right: 15px;
}

/* 2nd website match schedule
 */

.flag {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.flag img {
    width: 40%;
}

.flag_content {
    text-align: center;
}

.card_flag {
    border: 1px solid rgba(189, 188, 188, 0.384);
    border-radius: 10px;
    padding: 20px 40px;
}


/*footer*/
footer {
    color: white;
    width: 100%;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.911);
    height: 400px;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
}


.footer_area {
    display: flex;
    justify-content: center;
    align-items: center;
}


.area {
    text-align: center
}

#hr {
    width: 100%;
    border: none;
    height: .2px;
    background-color: rgba(75, 74, 74, 0.425);
    margin: 40px 0px;
}

.hr {
    display: flex;
    justify-content: center;
}

/* some content links */
.cont_head {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    white-space: nowrap;
    flex-wrap: wrap;
}

/* social media links with icons */
.social_media {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.fa-brands {
    color: #879bf1;
    font-size: 30px;
}

.social_media_content {
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 20px;
}



/*responsiveness for tab */

@media only screen and (max-width:992px) {
    .head_text>h1 {
        font-size: 30px;
        color: white;
    }

    .head_p {
        font-size: 12px;
    }

    .button_cont {
        padding: 10px 15px;
        width: 150px;
    }

    .main_content {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .match_nav {
        width: 100%;
        height: 55px;
        background-color: white;
        margin: 0;
    }

    #nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 13px;
        width: 100%;
        margin: 0;
    }

    .nav_cont {
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        border: 1px solid rgba(128, 128, 128, 0.438);
        border-radius: 5px;
        width: 150px;
        padding: 15px 10px;
        text-align: center;
        margin: 0;
        word-wrap: nowrap;
    }

    .nav_cont_index {
        background-color: blueviolet;
        color: white;
        text-align: center;
        border-radius: 8px;
        font-weight: 700;
        width: 200px;
        padding: 15px 10px;
        margin: 0;
    }

    .nav_cont_umcomming {
        background-color: blueviolet;
        color: white;
        text-align: center;
        margin: 0;
        border-radius: 8px;
        font-weight: 700;
        width: 200px;
        padding: 15px 10px;
    }

    .nav_link {
        text-decoration: none;
    }

    .nav_link_index {
        background-color: blueviolet;
    }

    .match_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        row-gap: 25px;
        column-gap: 25px;
    }


}


/* responsiveness for Mobile */

@media only screen and (max-width:688px) {
    .head_cont {

        height: 100vh;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .head_text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .head_img_cont {
        width: 100%;
        height: 100%;
    }

    .main_content {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .match_nav {
        width: 100%;
        height: 200px;
        background-color: white;
        margin: 0;
    }

    #nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        font-size: 13px;
        width: 100%;
        margin: 0;
    }

    .nav_cont {
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        border: 1px solid rgba(128, 128, 128, 0.438);
        border-radius: 5px;
        width: 2px;
        padding: 15px 10px;
        text-align: center;
        margin: 0;
        word-wrap: nowrap;
    }

    .nav_cont_index {
        background-color: blueviolet;
        color: white;
        text-align: center;
        border-radius: 8px;
        font-weight: 700;
        width: 200;
        padding: 15px 10px;
        margin: 0;
    }

    .nav_cont_umcomming {
        background-color: blueviolet;
        color: white;
        text-align: center;
        margin: 0;
        border-radius: 8px;
        font-weight: 700;
        width: 200px;
        padding: 15px 10px;
    }

    .nav_link {
        text-decoration: none;
    }

    .nav_link_index {
        background-color: blueviolet;
    }

    .match_content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
        column-gap: 25px;
    }

    footer {
        height: 700px;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .social_media_content {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}